ETRADE_ENV=sandbox
ETRADE_SANDBOX_API=your_sandbox_consumer_key
ETRADE_SANDBOX_SECRET=your_sandbox_consumer_secret
ETRADE_PROD_API=your_production_consumer_key
ETRADE_PROD_SECRET=your_production_consumer_secret
FMP_API_KEY=your_financial_modeling_prep_api_key
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key
FINNHUB_API_KEY=your_finnhub_api_key
BENZINGA_API_KEY=your_benzinga_api_key
